@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* --- Custom properties --- */
  /* COLORS */
  --whiteColor: #fff;
  --blackColor: #111;
  --primaryColor: #dcc1ab;
  --primaryColorLight: #f5f0ec;
  --secondaryColor: #1b5b31;
  --footerColor: #111;

  /* FONTS */
  --contentFontFam: "Inter", sans-serif;
  --headerFontFam: "Montserrat", sans-serif;

  --regularFont: 400;
  --boldFont: 500;

  --navTextSize: 14px;
  --naviTextSmallSize: 12px;
  --contentTextSize: 16px;
  --h1TextSize: 60px;
  --h2TextSize: 48px;
  --h3TextSize: 40px;
  --h4TextSize: 28px;
  --cardTextSize: 14px;
  --btnTextSize: 16px;
  --btnIconSize: 24px;
}

.app-wrapper {
  max-width: 1600px;
  min-width: 350px;
  overflow-x: hidden;
  font-family: var(--contentFontFam);
}

.app-wrapper .btn {
  transition: 0.5s;
}

.app-wrapper .btn:active {
  transform: translateY(2px);
  transition: 0.1s;
}

/* ///////////////////////
        NAVIGATION
/////////////////////// */
.app-wrapper .navbar {
  background: var(--whiteColor);
  color: var(--blackColor);
  transition: 0.3s ease-in-out;
}

.nav-scroll {
  opacity: 0.85;
}

.nav-container .navbar-nav .nav-item .nav-link {
  font-size: var(--navTextSize);
  white-space: nowrap;
}

.nav-container .navbar-nav .input-group .input-group-text {
  cursor: pointer;
  background: var(--whiteColor);
  border: none;
}

.nav-container .navbar-nav .input-group .form-control {
  transition: all 0.5s;
}

.hidden {
  display: none;
}

.navbar-nav .dropdown-menu {
  width: fit-content;
}

.navbar-nav .dropdown-menu li {
  font-size: var(--navTextSize);
  border-bottom: 3px dashed var(--primaryColor);
}

.navbar-nav .dropdown-menu li:last-child {
  border-bottom: none;
}

/* ///////////////////////
       INTRODUCTION
/////////////////////// */
.app-wrapper .intro-container {
  position: relative;
  background: var(--primaryColor);
}

.app-wrapper .intro-container .col-12 {
  max-width: 700px;
  padding: 144.5px 54px 144.5px 89px;
  z-index: 4;
}

/* text content */

.app-wrapper .intro-container h1 {
  font-family: var(--headerFontFam);
  font-weight: var(--boldFont);
  font-size: var(--h1TextSize);
  background: var(--primaryColor);
  line-height: 70px;
}

.app-wrapper .intro-container p {
  font-size: var(--contentTextSize);
  margin: 44px 0 calc(72px - 15px) 0;
  background: var(--primaryColor);
  line-height: 1.5;
}

.app-wrapper .intro-container .btn-container {
  background: var(--primaryColor);
}

.app-wrapper .intro-container .btn-container .btn {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: var(--secondaryColor);
  font-size: var(--btnTextSize);
  margin-right: 36px;
  padding: 12px 24px;
  margin-top: 15px;
  color: var(--primaryColorLight);
  line-height: 1.5;
}

.app-wrapper .intro-container .btn-container .btn:hover {
  color: var(--secondaryColor);
}

.app-wrapper .intro-container .btn-container .btn .spanBg {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--primaryColorLight);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--p1) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--p1) - 1) * 0.1s);
  z-index: -1;
}

.app-wrapper .intro-container .btn-container .btn:hover .spanBg {
  transform: translateY(0) scale(2);
}

.app-wrapper .intro-container .btn-container .btn .spanBg:nth-child(1) {
  --p1: 1;
}

.app-wrapper .intro-container .btn-container .btn .spanBg:nth-child(2) {
  --p1: 2;
}

.app-wrapper .intro-container .btn-container .btn .spanBg:nth-child(3) {
  --p1: 3;
}

.app-wrapper .intro-container .btn-container .btn .spanBg:nth-child(4) {
  --p1: 4;
}

.app-wrapper .intro-container .btn-container .btn-outline {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: none;
  border-color: var(--secondaryColor);
  margin-right: 0;
  position: relative;
  padding: 12px calc(24px + var(--btnIconSize)) 12px 24px;
  color: var(--secondaryColor);
}

.app-wrapper .intro-container .btn-container .btn-outline:hover {
  color: var(--primaryColorLight);
}

.app-wrapper .intro-container .btn-container .btn-outline span {
  position: absolute;
  font-size: var(--btnIconSize);
  padding: 0;
}

.app-wrapper .intro-container .btn-container .btn-outline .spanBg {
  background-color: var(--secondaryColor);
  left: calc((var(--p2) - 1) * 25%);
  transition-delay: calc((var(--p2) - 1) * 0.1s);
}

.app-wrapper .intro-container .btn-container .btn-outline:hover .spanBg {
  transform: translateY(0) scale(2);
}

.app-wrapper .intro-container .btn-container .btn-outline .spanBg:nth-child(2) {
  --p2: 1;
}

.app-wrapper .intro-container .btn-container .btn-outline .spanBg:nth-child(3) {
  --p2: 2;
}

.app-wrapper .intro-container .btn-container .btn-outline .spanBg:nth-child(4) {
  --p2: 3;
}

.app-wrapper .intro-container .btn-container .btn-outline .spanBg:nth-child(5) {
  --p2: 4;
}

/* photo */

.intro-container .intro-photo-container img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  max-height: 900px;
  z-index: 2;
}

/* carousel */

.carousel {
  position: relative;
  margin-top: 72px;
  z-index: 2;
}

.carousel .carousel-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.carousel .carousel-btn-container {
  padding: 24px 0;
  background: var(--primaryColorLight);
  width: fit-content;
  z-index: 4;
  position: relative;
}

.carousel .carousel-btn-container button {
  border: none;
  margin-left: 32px;
}

.carousel .carousel-btn-container button span {
  font-size: 48px;
  font-weight: var(--boldFont);
}

.carousel .carousel-btn-container button:last-child {
  margin-right: 32px;
}

/* media queries */

@media screen and (max-width: 1200px) {
  .app-wrapper .intro-container .col-12 {
    padding: 80px 54px 80px 89px;
  }
}

@media screen and (max-width: 992px) {
  .app-wrapper .intro-container .col-12 {
    padding: 80px 20px;
  }

  .app-wrapper .intro-container h1 {
    font-size: var(--h2TextSize);
  }

  .intro-container .intro-photo-container img {
    width: 100%;
    height: 50%;
    z-index: 2;
  }

  .carousel .carousel-btn-container {
    padding: 12px 0;
  }

  .carousel .carousel-btn-container button span {
    font-size: 28px;
  }
}

/* ///////////////////////
          OFFERS
/////////////////////// */
.offers-container {
  background: var(--primaryColorLight);
  padding: 120px 0 160px;
  font-size: var(--contentTextSize);
  line-height: 1.5;
}

/* text content */

.offers-container .offers-content {
  max-width: 1040px;
  width: 80%;
  text-align: left;
  margin: 0 auto;
}

.offers-container .offers-content small {
  font-size: var(--naviTextSmallSize);
  color: var(--secondaryColor);
}

.offers-container .offers-content .offers-content-text {
  max-width: 709px;
}

.offers-container .offers-content .offers-content-text h2 {
  font-family: var(--headerFontFam);
  font-size: var(--h2TextSize);
  font-weight: var(--boldFont);
  line-height: 1.15;
  margin-top: 16px;
  margin-bottom: 32px;
}

.offers-container .offers-content .offers-content-text h2 i {
  font-family: var(--contentFontFam);
}

/* cards */

.offers-container .cards-container {
  padding: 0 auto;
  margin-top: 96px;
  justify-content: center;
  gap: 70px;
}

.offers-container .cards-container .card {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 28px;
  background: none;
  transition: 0.5s;
}

.offers-container .cards-container .card:nth-of-type(2),
.offers-container .cards-container .card:nth-of-type(3) {
  z-index: 6;
}

.offers-container .cards-container .card .card-title {
  margin: 0;
  padding: 48px 40px 0;
  max-width: 378px;
  white-space: nowrap;
  border-radius: 28px;
  background: var(--primaryColor);
  z-index: 4;
  transition: border-radius 0.8s, background-color 0.3s 0.5s;
}

.offers-container .cards-container .card:hover .card-title {
  background: var(--whiteColor);
  border-radius: 28px 28px 0 0;
  position: relative;
  height: auto;
  transition: border-radius 0.3s;
}

.offers-container .cards-container .card .card-title img {
  width: 44px;
  height: 44px;
  opacity: 0.2;
  margin-bottom: 32px;
  transition: 0.5s;
}

.offers-container .cards-container .card .card-title h4 {
  font-family: var(--headerFontFam);
  font-size: var(--h4TextSize);
  font-weight: var(--boldFont);
  margin: 0;
  line-height: 1.15;
  opacity: 0.2;
  transition: 0.5s;
}

.offers-container .cards-container .card:hover .card-title img,
.offers-container .cards-container .card:hover .card-title h4 {
  opacity: 1;
}

.offers-container .cards-container .card .card-body {
  margin: 0;
  padding: 0;
  border-radius: 28px;
  background: var(--whiteColor);
  white-space: normal;
  position: absolute;
  top: 100%;
  left: 0;
  max-height: 0;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  transition: border-radius 0.8s, max-height linear 0.5s, padding 0.1s 0.3s;
}

.offers-container .cards-container .card:hover .card-body {
  max-height: 500px;
  padding: 0 40px 48px;
  border-radius: 0 0 28px 28px;
  transition: max-height 0.5s;
}

.offers-container .cards-container .card .card-body p {
  font-size: var(--cardTextSize);
  margin: 12px 0 63px;
  line-height: 1.5;
}

.offers-container .cards-container .card .card-body .svg-wrapper {
  position: relative;
  width: 220px;
  height: 40px;
  display: inline-block;
  margin: 0;
}

.offers-container .cards-container .card .card-body .shape {
  stroke-width: 3px;
  fill: transparent;
  stroke: var(--secondaryColor);
  stroke-dasharray: 180 400;
  stroke-dashoffset: -300;
  transition: 1s all ease;
}

.offers-container .cards-container .card .card-body .svg-wrapper:hover .shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: var(--primaryColor);
}

.offers-container .cards-container .card .card-body .btn {
  margin-top: -60px;
  padding: 0;
  line-height: 1.5;
  text-decoration: none;
  color: var(--secondaryColor);
  position: relative;
}

.offers-container .cards-container .card .card-body .svg-wrapper:hover .btn {
  text-decoration: none;
}

.offers-container .cards-container .card .card-body .btn .spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.offers-container .cards-container .card .card-body .btn span {
  font-size: 22px;
  position: absolute;
}

/* cards small */
.offers-container .cards-container-small {
  margin: 96px auto 0;
  max-width: 378px;
  display: none;
}

.offers-container .cards-container-small .card {
  display: block;
  padding: 48px 40px;
  margin-bottom: 15px;
  border-radius: 28px;
  transition: 0.5s;
}

.offers-container .cards-container-small .card-title img {
  width: 44px;
  height: 44px;
  margin-bottom: 32px;
  transition: 0.5s;
}

.offers-container .cards-container-small .card-title h4 {
  font-family: var(--headerFontFam);
  font-size: var(--h4TextSize);
  font-weight: var(--boldFont);
  margin: 0;
  line-height: 1.15;
  transition: 0.5s;
}

.offers-container .cards-container-small .card-body {
  padding: 0;
  margin: 0;
}

.offers-container .cards-container-small .card-body p {
  font-size: var(--cardTextSize);
  margin: 12px 0 63px;
  line-height: 1.5;
}

.offers-container .cards-container-small .card-body .btn {
  font-size: var(--btnTextSize);
  padding: 0;
  line-height: 1.5;
  text-decoration: underline;
  text-underline-offset: 8px;
  color: var(--secondaryColor);
  position: relative;
}

.offers-container .cards-container-small .card-body .btn span {
  font-size: 22px;
  position: absolute;
}

/* media queries */
@media screen and (max-width: 992px) {
  .offers-container .offers-content .offers-content-text h2 {
    font-size: var(--h4TextSize);
  }

  .offers-container .cards-container {
    display: none;
  }

  .offers-container .cards-container-small {
    display: block;
  }
}

/* ///////////////////////
          ABOUT
/////////////////////// */
.about-container {
  background: var(--secondaryColor);
  padding: 0;
  color: var(--primaryColorLight);
}

.about-container .row {
  position: relative;
}

/* photo */

.about-container .about-photo-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  z-index: 2;
}

/* text content */
.about-container .col-12 {
  padding: 135px 92px 135px 0;
  z-index: 4;
}

.about-container .about-content {
  max-width: 500px;
  margin: 0 0 0 auto;
}

.about-container .about-content .about-content-text {
  background: rgb(27, 91, 49, 0.75);
}

.about-container .about-content small {
  font-weight: var(--naviTextSmallSize);
  line-height: 1.5;
}

.about-container .about-content h2 {
  font-weight: var(--boldFont);
  font-family: var(--headerFontFam);
  font-size: var(--h2TextSize);
  line-height: 1.15;
  margin-top: 16px;
  margin-bottom: 40px;
}

.about-container .about-content h2 i {
  font-family: var(--contentFontFam);
}

.about-container .about-content p {
  font-size: var(--contentTextSize);
  margin-bottom: 72px;
}

.about-container .about-content .btn {
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-color: var(--primaryColorLight);
  color: var(--primaryColorLight);
  padding: 12px calc(22px + 22px) 12px 22px;
}

.about-container .about-content .btn:hover {
  color: var(--secondaryColor);
}

.about-container .about-content .btn span {
  position: absolute;
  margin-left: 8px;
}

.about-container .about-content .btn .spanBg {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--primaryColorLight);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--p3) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--p3) - 1) * 0.1s);
  z-index: -1;
}

.about-container .about-content .btn:hover .spanBg {
  transform: translateY(0) scale(2);
}

.about-container .about-content .btn .spanBg:nth-child(2) {
  --p3: 1;
}

.about-container .about-content .btn .spanBg:nth-child(3) {
  --p3: 2;
}

.about-container .about-content .btn .spanBg:nth-child(4) {
  --p3: 3;
}

.about-container .about-content .btn .spanBg:nth-child(5) {
  --p3: 4;
}

/* media queries */
@media screen and (max-width: 992px) {
  .about-container .about-photo-container img {
    display: none;
  }
  .about-container {
    background-image: url(img/about-photo.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  .about-container .col-12 {
    padding: 0;
  }

  .about-container .col-12 {
    padding-right: 0;
  }

  .about-container .about-content {
    margin: 0 auto;
  }

  .about-container .about-content .about-content-text {
    padding: 15px;
  }

  .about-container .about-content h2 {
    font-size: var(--h4TextSize);
  }
}

/* ///////////////////////
          PROJECTS
/////////////////////// */
/* text content */
.projects-container {
  padding: 0;
  margin: 0;
  background: var(--primaryColor);
  padding: 120px 0 0 0;
  position: relative;
}

.projects-container .projects-content {
  margin: 0 0 96px 160px;
}

.projects-container .projects-content small {
  font-size: var(--naviTextSmallSize);
  color: var(--secondaryColor);
  line-height: 1.5;
}

.projects-container .projects-content h2 {
  font-family: var(--headerFontFam);
  font-weight: var(--boldFont);
  font-size: var(--h2TextSize);
  line-height: 1.15;
  margin-top: 16px;
}

.projects-container .projects-content h2 i {
  font-family: var(--contentFontFam);
}

/* photo grids */

.projects-container .grid,
.projects-container .grid--2 {
  background: var(--primaryColor);
}

.projects-container .grid--2 {
  display: none;
}

.projects-container .grid:after,
.projects-container .grid--2:after {
  content: "";
  display: block;
  clear: both;
}

.projects-container .grid-sizer,
.projects-container .grid-item,
.projects-container .grid-sizer--2,
.projects-container .grid-item--2 {
  width: 30%;
}

.projects-container .gutter-sizer,
.projects-container .gutter-sizer--2 {
  width: 5%;
}

.projects-container .grid-item,
.projects-container .grid-item--2 {
  float: left;
  margin-bottom: 42px;
}

.projects-container .grid-item img,
.projects-container .grid-item--2 img {
  display: block;
  width: 100%;
}

/* more btn */

.projects-container .projects-moreBtn-container {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(rgba(220, 193, 171, 0), rgba(220, 193, 171, 1));
}

.projects-container .projects-moreBtn-container .btn {
  position: absolute;
  font-size: var(--btnTextSize);
  line-height: 1.5;
  background: none;
  border-color: var(--blackColor);
  bottom: 0;
  padding: 12px 46px 12px 22px;
  margin-bottom: 90px;
}

.projects-container .projects-moreBtn-container .btn:hover {
  background: var(--blackColor);
  color: rgba(220, 193, 171, 1);
}

.projects-container .projects-moreBtn-container .btn span {
  position: absolute;
  margin-left: 8px;
}

/* media queries */

@media screen and (max-width: 992px) {
  .projects-container .projects-content {
    margin: 0 0 96px 80px;
  }

  .projects-container .projects-content h2 {
    font-size: var(--h4TextSize);
  }
}

/* ///////////////////////
        CONTACT
/////////////////////// */

/* text content */

.contact-container {
  padding: 60px 200px;
  margin: 0;
  background: var(--primaryColorLight);
}

.contact-container .contact-content {
  background: var(--secondaryColor);
  padding: 120px 110px;
  color: var(--primaryColorLight);
  font-weight: var(--regularFont);
  justify-content: space-between;
}

.contact-container .contact-content h3 {
  font-family: var(--headerFontFam);
  font-size: var(--h3TextSize);
  font-weight: var(--regularFont);
  line-height: 1.2;
  padding: 0;
  margin: 0;
}

.contact-container .contact-content h3 i {
  font-family: var(--contentFontFam);
  font-weight: var(--boldFont);
}

.contact-container .contact-content p {
  font-size: var(--contentTextSize);
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

.contact-container .contact-content p .btn {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-size: var(--btnTextSize);
  background: var(--primaryColorLight);
  color: var(--secondaryColor);
  margin-top: 24px;
  padding: 10px 24px;
}

.contact-container .contact-content p .btn:hover {
  color: var(--primaryColorLight);
}

.contact-container .contact-content p .btn .spanBg {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--secondaryColor);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--p4) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--p4) - 1) * 0.1s);
  z-index: -1;
}

.contact-container .contact-content p .btn:hover .spanBg {
  transform: translateY(0) scale(2);
}

.contact-container .contact-content p .btn .spanBg:nth-child(1) {
  --p4: 1;
}

.contact-container .contact-content p .btn .spanBg:nth-child(2) {
  --p4: 2;
}

.contact-container .contact-content p .btn .spanBg:nth-child(3) {
  --p4: 3;
}

.contact-container .contact-content p .btn .spanBg:nth-child(4) {
  --p4: 4;
}

/* media queries */

@media screen and (max-width: 992px) {
  .contact-container {
    padding: 60px 30px;
  }

  .contact-container .contact-content {
    padding: 20px;
    margin: 0 auto;
  }

  .contact-container .contact-content h3 {
    font-size: var(--h4TextSize);
  }

  .contact-container .contact-content p {
    margin-top: 30px;
  }
}

/* ///////////////////////
        FOOTER
/////////////////////// */

/* text content */

.footer-container {
  position: relative;
  padding: 80px 0;
  margin: 0;
  background: var(--footerColor);
  overflow: hidden;
}

.footer-container .footer-content {
  width: 80%;
  margin: 0 auto;
  max-width: 1040px;
  color: var(--primaryColorLight);
  font-size: var(--contentTextSize);
  line-height: 1.5;
}

.footer-container .footer-content .row {
  justify-content: space-between;
}

.footer-container .footer-content p {
  margin-bottom: 0;
}

.footer-container .footer-content .first-row .btn {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: var(--secondaryColor);
  color: var(--primaryColorLight);
  padding: 12px 24px;
  margin-left: 24px;
}

.footer-container .footer-content .first-row .btn:hover {
  color: var(--primaryColorLight);
  border-color: var(--primaryColorLight);
}

.footer-container .footer-content .first-row .btn .spanBg {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--blackColor);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--p5) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--p5) - 1) * 0.1s);
  z-index: -1;
}

.footer-container .footer-content .first-row .btn:hover .spanBg {
  transform: translateY(0) scale(2);
}

.footer-container .footer-content .first-row .btn .spanBg:nth-child(1) {
  --p5: 1;
}

.footer-container .footer-content .first-row .btn .spanBg:nth-child(2) {
  --p5: 2;
}

.footer-container .footer-content .first-row .btn .spanBg:nth-child(3) {
  --p5: 3;
}

.footer-container .footer-content .first-row .btn .spanBg:nth-child(4) {
  --p5: 4;
}

.footer-container .footer-content hr {
  background: var(--primaryColorLight);
  border: none;
  height: 3px;
  margin: 62px 0 31px 0;
}

.footer-container .footer-content .second-row {
  font-size: var(--cardTextSize);
}

.footer-container .footer-content .second-row .col-auto {
  margin-top: 31px;
}

.footer-container .footer-content .second-row a {
  margin-right: 48px;
  color: var(--primaryColorLight);
  text-decoration: none;
}

.footer-container .footer-content .second-row .links-container a:last-of-type {
  margin-right: 0;
}

.footer-container .footer-content .second-row .links-container:hover a {
  opacity: 0.5;
}

.footer-container .footer-content .second-row .links-container a:hover {
  opacity: 1;
}

.footer-container .footer-content .second-row .mail-mob-container a {
  display: inline-block;
  cursor: pointer;
  margin-left: 48px;
  background: none;
  border: none;
  color: var(--primaryColorLight);
}

.footer-container .footer-content .mail-mob-container a:first-of-type {
  margin-left: 0;
}

.footer-container .footer-content .third-row {
  margin-top: 120px;
}

.footer-container .footer-content .third-row img {
  margin-left: 16px;
}

/* bg animation */
.footer-container .light {
  position: absolute;
  width: 0px;
  opacity: 0.5;
  background-color: white;
  box-shadow: #e9f1f1 0px 0px 20px 2px;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}
.footer-container .x1 {
  animation: floatUp 4s infinite linear;
  transform: scale(1);
}

.footer-container .x2 {
  animation: floatUp 7s infinite linear;
  transform: scale(1.6);
  left: 15%;
}

.footer-container .x3 {
  animation: floatUp 2.5s infinite linear;
  transform: scale(0.5);
  left: -15%;
}

.footer-container .x4 {
  animation: floatUp 4.5s infinite linear;
  transform: scale(1.2);
  left: -34%;
}

.footer-container .x5 {
  animation: floatUp 8s infinite linear;
  transform: scale(2.2);
  left: -57%;
}

.footer-container .x6 {
  animation: floatUp 3s infinite linear;
  transform: scale(0.8);
  left: -81%;
}

.footer-container .x7 {
  animation: floatUp 5.3s infinite linear;
  transform: scale(3.2);
  left: 37%;
}

.footer-container .x8 {
  animation: floatUp 4.7s infinite linear;
  transform: scale(1.7);
  left: 62%;
}

.footer-container .x9 {
  animation: floatUp 4.1s infinite linear;
  transform: scale(0.9);
  left: 85%;
}

@keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 0vh;
    opacity: 0.8;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: -100vh;
    opacity: 0;
  }
}
